#ignore data folders for containers
/services/
#/volumes/
/LMDSBackups/
/media/
/Downloads/
/downloads/
/Movies/
/Music/
/TVseries/
/TransmissionWathFolder/
/TVrecordings/
#/vpn/
#docker-compose.yml
.outofdate
downloads
*.db*
**/logs
**/Logs
**/log
*.log
*.pid
*.lock
.env
**/lockfile
**/cache
*.crt
*.key
*.pub
**/listsCache
**/config_backups
*.pem
cli_pw
volumes/pihole/etc-pihole/cli_pw
volumes/portainer
**/logrotate
*.LocalAdminToken
volumes/plex/library/Library/Application Support/Plex Media Server/.LocalAdminToken
