services:
  sonarr:
    image: linuxserver/sonarr
    container_name: sonarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=UTC
      - UMASK_SET=022 #optional
    volumes:
      - ./volumes/sonarr/data:/config
      - ${MEDIA_ROOT}/tvshows:/tv
      - ${DOWNLOAD_ROOT}:/downloads
    depends_on:
      - gluetun
      - qbittorrent
      - jackett
    restart: unless-stopped
    network_mode: service:gluetun
  radarr:
    image: linuxserver/radarr
    container_name: radarr
    environment:
      - PUID=0
      - PGID=0
      - TZ=UTC
      - UMASK=022 #optional
    volumes:
      - ./volumes/radarr/config:/config
      - ${MEDIA_ROOT}/movies:/movies
      - ${DOWNLOAD_ROOT}:/downloads
    restart: unless-stopped
    depends_on:
      - gluetun
      - qbittorrent
      - jackett
    network_mode: service:gluetun

  lidarr:
    image: linuxserver/lidarr
    container_name: lidarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=UTC
      - UMASK_SET=022 #optional
    volumes:
      - ./volumes/lidarr/config:/config
      - ${MEDIA_ROOT}/music:/music
      - ${DOWNLOAD_ROOT}:/downloads
    depends_on:
      - gluetun
      - qbittorrent
      - jackett
    network_mode: service:gluetun

  #   image: linuxserver/bazarr
  #   container_name: bazarr
  #   environment:
  #     - PUID=1000
  #     - PGID=1000
  #     - TZ=UTC
  #     - UMASK_SET=022 #optional
  #   volumes:
  #     - ./volumes/bazarr/config:/config
  #     - ./media/movies:/movies
  #     - ./media/tvshows:/tv
  #   ports:
  #     - 6767:6767
  #   restart: unless-stopped
  #   network_mode: service:gluetun
  jackett:
    image: linuxserver/jackett
    container_name: jackett
    environment:
      - PUID=1000
      - PGID=1000  # bazarr:
      - TZ=UTC
      - AUTO_UPDATE=true #optional
      # - RUN_OPTS=<run options here> #optional
    volumes:
      - ./volumes/jackett/config:/config
      - ${DOWNLOAD_ROOT}:/downloads
    depends_on:
      - gluetun
      - qbittorrent
      - flaresolverr
    network_mode: service:gluetun
    restart: unless-stopped

  flaresolverr: 
    image: ghcr.io/flaresolverr/flaresolverr:latest 
    container_name: flaresolverr
    network_mode: service:gluetun
    environment: 
      - LOG_LEVEL=${LOG_LEVEL:-info} 
      - LOG_HTML=${LOG_HTML:-false} 
      - CAPTCHA_SOLVER=${CAPTCHA_SOLVER:-none} 
      - PUID=1000
      - PGID=1000
      - TZ=UTC
    restart: unless-stopped 

  plex:
    image: ghcr.io/linuxserver/plex:latest
    container_name: plex
    network_mode: host
    environment:
      - PUID=1000
      - PGID=1000
      - VERSION=docker
      - UMASK_SET=022 #optional
      # - PLEX_CLAIM= #optional
    volumes:
      - ./volumes/plex/library:/config
      - ${MEDIA_ROOT}/tvshows:/tv
      - ${MEDIA_ROOT}/movies:/movies
    restart: unless-stopped

  overseerr:
    image: ghcr.io/linuxserver/overseerr
    container_name: overseerr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=UTC
    volumes:
      - /volumes/overseerr/config:/config
    depends_on:
      - gluetun
      - qbittorrent
      - jackett
    restart: unless-stopped
    network_mode: service:gluetun

  qbittorrent:
    image: linuxserver/qbittorrent
    container_name: qbittorrent
    environment:
      - PUID=1000
      - PGID=1000
      - UMASK_SET=022
      - WEBUI_PORT=15080
      - TZ=UTC
    volumes:
      - ./volumes/qbittorrent/config:/config
      - ${DOWNLOAD_ROOT}:/downloads
    depends_on:
      - gluetun
    network_mode: service:gluetun

  # pihole:
  #   container_name: pihole
  #   image: pihole/pihole:latest
  #   network_mode: host  # to facilitate proper DHCP propagation. https://docs.pi-hole.net/docker/dhcp/
  #   #ports:
  #   #  - "53:53/tcp"
  #   #  - "53:53/udp"
  #   #  - "67:67/udp"
  #   #  - "8089:80/tcp"
  #   #  - "443:443/tcp"
  #   env_file:
  #     - ./services/pihole/pihole.env  # check the file location for more options to configure  
  #   volumes:
  #      - ./volumes/pihole/etc-pihole/:/etc/pihole/
  #      - ./volumes/pihole/etc-dnsmasq.d/:/etc/dnsmasq.d/
  #   dns:
  #     - 127.0.0.1
  #     - 1.1.1.1
  #   # Recommended but not required (DHCP needs NET_ADMIN)
  #   #   https://github.com/pi-hole/docker-pi-hole#note-on-capabilities
  #   cap_add:
  #     - NET_ADMIN
  #   restart: unless-stopped

  gluetun:
    image: qmcgaw/gluetun
    container_name: gluetun
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun:/dev/net/tun
    ports:
    # qbittorrent
      - 6881:6881
      - 6881:6881/udp
      - 15080:15080
      - 1080:1080
      - 8989:8989 # Sonarr
      # - 9696:9696 # prowlarr
      - 9117:9117 # Jackett
      - 7878:7878 # Radarr
      # - 8787:8787 # Readarr
      - 5055:5055 # Overseer
      # - 6767:6767 # Bazarr
      - 8686:8686 # Lidarr
    volumes:
      - /vpn:/gluetun
    environment:
      # - VPN_PORT_FORWARDING=on
      # - VPN_SERVICE_PROVIDER=private internet access
      # - OPENVPN_USER=${PIA_USERNAME}
      # - OPENVPN_PASSWORD=${PIA_PASSWORD}
      # - SERVER_REGIONS=CA Toronto 
      # - PORT_FORWARD_ONLY=true
      # - TZ=UTC
      # - BLOCK_MALICIOUS=off
      # - VPN_PORT_FORWARDING_UP_COMMAND=/bin/sh -c 'wget -O- --retry-connrefused --post-data "json={\"listen_port\":{{PORT}},\"current_network_interface\":\"{{VPN_INTERFACE}}\",\"random_port\":false,\"upnp\":false}" http://127.0.0.1:15080/api/v2/app/setPreferences 2>&1' 
      # - VPN_PORT_FORWARDING_DOWN_COMMAND=/bin/sh -c 'wget -O- --retry-connrefused --post-data "json={\"listen_port\":0,\"current_network_interface\":\"lo"}" http://127.0.0.1:15080/api/v2/app/setPreferences 2>&1'
      - VPN_SERVICE_PROVIDER=airvpn
      - VPN_TYPE=wireguard
      - WIREGUARD_PRIVATE_KEY=KAwpRksBV0E1aKW5xpIRitXPlMjbQ/T4aiyqGh233nk=
      - WIREGUARD_PRESHARED_KEY=LoIXgfT5VqFduON5Zh80ThrKbAMkbkTt7E6l5HVflWY=
      # - WIREGUARD_PRIVATE_KEY=PyLCXAQT8KkM4T+dUsOQfn+Ub3pGxfGlxkIApuig+hk=
      - WIREGUARD_ADDRESSES=10.138.123.182/32
      - SERVER_COUNTRIES=United States
      - TZ=UTC
      - FIREWALL_VPN_INPUT_PORTS=23677